.request-history-view {
	flex: 1;
	display: flex;
	flex-direction: column;

	.panel {
		flex: 1;
		margin-bottom: 0px;

		&-heading {
			flex: 0;
		}

		&-body {
			flex: 1;
			overflow-y: auto;
		}
	}

	&-grid {
		flex: 1;

		width: 100%;

		.clickable {
			color: $link-color;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		.method-col {
			width: 4rem;
		}

		td {
			padding: 0 .5rem 0 .5rem;
		}
	}
}
