.siren-properties-view {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: .5rem;
	margin-bottom: .5rem;

	&-property {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex: 1 1 40rem;

		&-name {
			font-weight: 600;
			padding-right: .5rem;
			flex: 0 1 15rem;
			text-align: left;
		}

		&-value {
			flex: 1;
			text-align: left;
		}
	}
}
