.url-view {
	display: flex;
	flex-direction: row;
	align-content: center;
	width: 100%;

	margin-top: .5rem;
	margin-bottom: .5rem;

	input {
		flex: 1;
	}

	.btn {
		margin-left: .5rem;
		margin-right: .5rem;
		flex: 0 0 auto;
	}
}
